/* Initial The Bage */

html {
    direction: rtl;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

body {
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: Tajawal, sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: grid;
    grid-template-areas: "Header" "Body" "Footer";
}

header {
    grid-area: Header;
}

section.body {
    grid-area: Body;
}

footer {
    grid-area: Footer;
}


/* Header Styling Section  */

header {
    display: flex;
    flex-direction: column;
}


/* Style Navbar */

header nav {
    width: 100%;
    background-color: #e5e9f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    margin: 0;
}

header nav ul li {
    list-style-type: none;
    display: inline;
    cursor: pointer;
    border-left: 2px solid #ccc;
    padding: 0 20px;
    transition: 1s;
}

header nav ul li:hover {
    color: darkred;
    font-size: 1.1em;
}


/* Style search_logo  div */

.search_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search_logo .searchBox {
    width: 75%;
    position: relative;
    height: 40px;
}

.searchBox input[type=text] {
    width: 100%;
    border-radius: 20px;
    background-color: transparent;
    position: absolute;
    right: 0;
    font-family: Tajawal, sans-serif;
    font-size: 14px;
    padding: 5px;
    background-color: #e5e9f2;
}

.searchBox input[type=submit] {
    background-image: url("../images/search.png");
    background-color: #e5e9f2;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 1vw;
    top: 1vh;
    width: 20px;
    background-color: transparent;
    border: 0;
}

.bag {
    background-color: #ccc;
    border-radius: 50%;
    padding: 10px;
}


/* Body Styling Section  */

section.body {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}


/* .body .carosal {
    width: 95%;
    margin: auto;
    position: relative;
}

.content img {
    width: 100%;
}

.carosal .controls {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: rgba(228, 222, 222, 0.5);
}

.controls ul li {
    list-style-type: circle;
    float: left;
    margin-left: 40px;
    font-size: 32px;
}

.carosal .leftBtn {
    height: 100%;
    width: 30%;
    position: absolute;
    color: #ffffff5c;
    font-size: 40px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .8s;
    justify-content: center;
    align-items: flex-end;
}

.carosal .rightBtn {
    height: 100%;
    width: 30%;
    position: absolute;
    color: #ffffff5c;
    font-size: 40px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: .8s;
    justify-content: center;
    align-items: flex-start;
}

.carosal .leftBtn:hover,
.carosal .rightBtn:hover {
    border-radius: 30% 0 0 30%;
    color: white;
    background-color: rgb(3 3 3 / 23%);
}

.carosal .leftBtn:hover {
    border-radius: 0 30% 30% 0;
} */


/* ####################################################### */

@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    height: 75vh;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel img {
    width: 100%;
    height: 100%;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:nth-child(even) {
    background-color: #99f;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 20s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: 0rem;
}

.carousel::after,
.carousel__next {
    right: 0rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


/* ###################################################### */


/* Categories Section */

.categories {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.categories>h1 {
    color: darkred;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.simpleCard {
    width: 100px;
    background-color: #FFF;
    box-shadow: 0 0 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.simpleCard img {
    border-radius: 50%;
}

.simpleCard h2 {
    color: darkred;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}


/*  Adds Section  */

.adds {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.adds>div {
    height: 200px;
    background-color: #ccc;
}


/* Presentations Section  */

.presentations {
    width: 95%;
    margin: auto;
    margin-top: 50px;
}

.presentations>h1 {
    color: darkred;
}

.card {
    background-color: #FFF;
    box-shadow: 0 0 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.card .header {}

.card .body h2 {
    color: red;
}

.card .body h2 sub {
    font-size: 13px;
    font-weight: lighter;
}

.card .footer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.card .footer .origin {
    background-color: red;
    border-radius: 50%;
    padding: 2px;
}


/* Footer Styling Section  */

footer {
    background-color: #e5e9f2;
    height: 80px;
    display: flex;
    flex-direction: column;
}

footer .first {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
}

footer form {
    padding: 10px;
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

footer form input {
    font: inherit;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .contact .contactLinks {
    margin-top: 40px;
}

footer ul {
    padding-inline-start: 0;
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

footer .second {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

footer h1 {
    font-size: 20px;
}

footer .second img {
    width: 70px;
}